.polygonMenu {
    line-height: 0!important;
}
.rightSideBarBigBg {
    left: 0!important;
}
.doubleScreenTitle{
  top: 4.2rem!important;
}
.polygon_button {
  width: auto!important;
}
.exampleTanChuContent .new_Example {
    width: auto!important;
}
.exampleTanChuContent .new_CSV {
    width: auto!important;
}